h1{
    color: blue;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 9px 15px;
    font: size 100px;
    cursor: pointer;
    transition-duration: 1s;
  }
  

.button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  .submit{
    padding: 15px 60px;
  }
  form{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }